{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <div>
        <a href="/admin">Accéder au Back-office</a>
    </div>
{% endblock %}
