{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <div class="cards">
        {% for card in cards %}
            <div class="card">
                <h2>{{ card.title }}</h2>
                <a href="{{ path(card.route) }}">Voir</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
