{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue {{ user.prenom }} {{ user.nom }}</h1>
        
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Lots</h5>
                        <p class="card-text">Gérer les lots de véhicules</p>
                        <a href="{{ path('admin') }}" class="btn btn-primary">Accéder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
