{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des Véhicules</h1>
        <!-- Contenu à venir -->
    </div>
{% endblock %}
