{% extends 'base.html.twig' %}

{% block title %}Avaries{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des Avaries</h1>
        <p>Ceci est la page où vous pourrez gérer vos avaries.</p>
    </div>
{% endblock %}
