{% extends 'base.html.twig' %}

{% block title %}Page Avaries{% endblock %}

{% block body %}
    <h1>Liste des Avaries</h1>
    <p>Ceci est la page où vous pourrez gérer vos avaries.</p>
{% endblock %}
