{% extends 'base.html.twig' %}

{% block title %}Nouvelle Avarie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Signaler une nouvelle avarie</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_avaries') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %} 